
.card-container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.card {
    background-color: rgb(188, 210, 241);
    
    padding: 0.5rem;
    margin:10px;
    border: solid 1px black;
    justify-content: center;
}

.card-info{
    font-family: 'Times New Roman', Times, serif;
}

.card-img{
    height: 300px;
    width: 270px;
    
    right:10px;
    top:5px;
    
}

.card-wish-list{
    color: beige;
    font-size: 20px;
    position: relative;
    right: -250px;
    top: -275px;
    cursor: pointer;
    
    
}


/* product landing */

  
  
  .main-container {
    display: flex;
    margin-top: 60px; /* To push the main content below the fixed NavBar */
  }
  
  .filter-container {
    flex: 0 0 300px; /* The filter container takes a fixed width of 200px as a sidebar */
    padding: 10px;
    background-color: #f1f1f1;
  }
  
  .product-container {
    flex: 1; /* The product container takes the remaining space */
    padding: 10px;
  }
  
  /* .card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
  } */
  

  